* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

p {
    margin: 0;
}

.d-flex {
    display: flex;
}

.header {
    background-color: #deadc6;
    padding-bottom: 40px;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__left {
    min-width: 200px;
    width: 200px;
    background-color: #2de72d;
}

.header__right {
    flex: 0 1 100%;
    background-color: #1818d4;
}

.feature {
    background-color: #deadc6;
}

.feature__col {
    flex: 0 0 50%;
    max-width: 50%;
}

.left {
    background: royalblue url("img/iMac.png") 50%/contain no-repeat;
    position: relative;
}

.left::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("img/Video_bg.jpg") 50%/cover;
    transition: 5s;
    opacity: 0;
}

.left:hover::after {
    opacity: 1;
}

.right {
    padding: 50px;
    background-color: red;
}

@media screen and (max-width: 800px) {

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    .d-flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    .feature__col {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .feature {
        margin-top: 166px;
    }

    .left {
        height: 250px;
    }
}